@import './../../global/global.module.scss';


.container {
    &__mobile {

    }
}
.loves {
    &__mainTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        &__text {
            font-size: 26px;
            font-weight: 600;
            background: linear-gradient(120.53deg, #00799F 14.07%, #0088C4 34.09%, #4378C8 58.56%, #5969D2 75.08%);
            -webkit-background-clip: text; /* Обрезаем фон по тексту */
            -webkit-text-fill-color: transparent; /* Прозрачный текст */
            margin-right: 6px;
        }
        &__svg {
            & svg {
                width: 25px;
                fill:rgba(255, 1, 1, 1);
            }
        }
    }
    &__filter {
        padding: 0 6px;
        display: flex;
        align-items: center;
        overflow-x: auto;
        margin-bottom: 16px;
        &__item {
            background: #F3EEFF;
            border-radius: 34px;
            color: rgba(171, 171, 171, 1);
            padding: 5px 18px;
            text-align: center;
            margin-right: 6px;
            &_active {
                color: $colorFirst;
                background: linear-gradient(131.9deg, rgba(223, 218, 255, 0.67) 36.42%, rgba(201, 209, 255, 0.46) 85.59%);
            }
        }
    }
    &__title {
        font-size: 22px;
        font-weight: 500;
        background: linear-gradient(120.53deg, #00799F 14.07%, #0088C4 34.09%, #4378C8 58.56%, #5969D2 75.08%);
        -webkit-background-clip: text; /* Обрезаем фон по тексту */
        -webkit-text-fill-color: transparent; /* Прозрачный текст */
        padding: 0 12px;
    }
    &__headerTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 12px;
        margin-bottom: 6px;
    }
    //platform
    &__w70 {
        min-width: 70%;
        width: 70%;
        max-width: 70%;
        text-align: center;
        &__item {
            height: 155px;
            border-radius: 20px;
            position: relative;
            border: 1px solid #f4f4f4;
            margin-right: 4px;
            margin-bottom: 6px;
            background: radial-gradient(50% 50% at 50% 50%, #FEFFC0 0%, rgba(254, 255, 192, 0) 100%);
            overflow: hidden;
            &__logo {
                position: absolute;
                top: 10px;
                left: 10px;
                width: 25%;
                & img {
                    width: 100%;
                }
            }
            &__body {
                display: flex;
                align-items: center;
                height: 100%;
                padding: 0 12px;
                &__image {
                    width: 50%;
                    & img {
                        width: 80%;
                    }
                }
                &__offer {
                    width: 50%;
                    font-size: 14px;
                    font-weight: 600;
                    color: $colorFirst;
                    line-height: 1;
                }
                &__hashtag {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    bottom: 5px;
                    left: 0;
                    right: 0;
                    white-space: nowrap;
                    font-size: 10px;
                    color: $colorFirst;
                    padding: 0 12px;
                    & div {
                        margin-right: 6px;
                    }
                }
            }
            &__love {
                position: absolute;
                top: 10px;
                right: 10px;
                & svg {
                    stroke: #9C9FB8;
                    width: 16px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .loves {
        padding-top: 90px;
        &__title {
            text-align: center;
        }
    }
}